<header>
  <img class="logo" ng-src="../assets/images/gca-logo.jpeg" alt="Grand Canyon Association Logo">
  <div class="status">
    <a ng-href="/#/plan/{{user_id}}"><h3 ng-show="userPlan.length">{{userPlan.length}}<i class="fa fa-calendar"></i></h3></a>
    <p ng-show="user_id" ng-click="logout()">logout</p>
    <p ng-show="!user_id"><a href="/#/register">Sign Up</a> | <a href="/#/login">Login</a></p>
  </div>
</header>

<div class="hero accordian" ng-show="info.hero" >
  <img ng-src="../assets/images/GC-hero.jpg" alt="Grand Canyon">
  <h1 class="title">
    Plan your trip and get the most out of your Grand Canyon visit
  </h1>
  <a href="/#/register" ng-show="!user_id"><button>Sign up and make a plan!</button></a>
</div>

<nav class="nav">

  <article id="plan" class="info one green" ng-show="user_id" id="one">
    <div ng-click="reset(); toggleDiv('one')">
      <h2>{{name | capitalize }}'s Plan ({{userPlan.length}})
      <div class="shareBox" ng-hide="userPlan.length === 0 || !info.one">
        <a ng-href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user_id}}&picture=http%3A%2F%2Fcdn.lightgalleries.net%2F4bd5ec12b739d%2Fimages%2FGrand-Canyon-National-Park-South-Rim-AZ-13-000435_bw_vv-1.jpg&name=My%20plan%20for%20a%20Grand%20Canyon%20visit&caption=%20&description=Check%20out%20the%20plan%20for%20my%20visit%20to%20the%20Grand%20Canyon.&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F&display=popup"><i class="fa fa-facebook-square"></i></a>
        <a ng-href="http://twitter.com/intent/tweet?text=Here%27s%20what%20I%27m%20doing%20on%20my%20trip%20to%20the%20Grand%20Canyon%3A%20https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user_id}}"><i class="fa fa-twitter-square"></i></a>
        <a ng-href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user_id}}&media=https%3A%2F%2Ftriplannr.herokuapp.com%2Fassets%2Fimages%2Fgca-logo.jpeg&description=My%20trip%20to%20the%20Grand%20Canyon%3A"><i class="fa fa-pinterest-square"></i></a>
        <a ng-href="mailto:?subject=For%20my%20visit%20to%20the%20Grand%20Canyon&body=Here%20is%20a%20link%20to%20my%20plan%3A%0D%0Ahttps%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user_id}}"><i class="fa fa-envelope-square"></i></i></a>
      </div>
      <i ng-hide="info.one" class="fa fa-chevron-right"></i><i ng-show="info.one" class="fa fa-chevron-down"></i></h2>
    </div>

    <div class="accordian" ng-show="info.one">

      <div class="activityBox">

        <div class="dummy activity" ng-show="userPlan.length === 0" ng-click="toggleDiv('two')">
          <div class="imageBox">
            <div class="overlay"></div>
            <img ng-src="../assets/images/gc-img-1.png" alt="Grand Canyon">
            <h4 class="subtitle">Add activities to your plan!</h4>
          </div>
        </div>

        <div class="big row" ng-repeat="start in planStart">

          <div class="activity">
            <div class="image one-third column" ng-click="reset(); activity.open=true; $event.stopPropagation();" ng-repeat="activity in activities | myActivities: userPlan | limitTo: columns: start">
              <div class="imageBox ">
                <div class="overlay"></div>
                <img ng-src={{activity.image}} alt="{{activity.title}}">
                <i ng-click="removeFromPlan(user_id, activity._id); $event.stopPropagation();" ng-class="['fa', 'fa-plus-circle', 'greentxt']"></i>
                <h5 ng-click="activity.open=!activity.open; $event.stopPropagation();" class="subtitle">{{activity.rim}}</h5>
                <h4 ng-click="activity.open=!activity.open; $event.stopPropagation();" class="title">{{activity.title}}</h4>
                <div class="detailBorder" ng-show="activity.open"></div>
              </div>
            </div>

            <div class="detail u-cf" ng-show="activity.open" ng-repeat="activity in activities | myActivities: userPlan | limitTo: columns: start">
              <div class="row">
                <div class="shareBox">
                  <a ng-href="{{activity.facebookShare}}"><i class="fa fa-facebook-square"></i></a>
                  <a ng-href="{{activity.twitterShare}}"><i class="fa fa-twitter-square"></i></a>
                  <a ng-href="{{activity.pinterestShare}}"><i class="fa fa-pinterest-square"></i></a>
                </div>
                <i class="fa fa-times close u-pull-right" ng-click="activity.open=false; $event.stopPropagation();"></i>

              </div>

              <div class="one-third column">


                <h5>hours</h5>
                <p>
                  {{activity.hours}}
                </p>
                <h5>location</h5>
                <p>
                  {{activity.location}}
                </p>
              </div>

              <div class="one-third column">
                <h5>description</h5>
                <p>
                  {{activity.description}}
                </p>
                <p>
                  <a href="{{activity.link}}" target="_blank">{{activity.link}}</a>
                </p>
              </div>

              <div class="one-third column">
                <h5>good for</h5>
                <p>
                  {{activity.yes}}
                </p>
                <h5>access</h5>
                <p>
                  {{activity.access}}
                </p>
                <br>
                <small class="delete" ng-click="removeFromPlan(user_id, activity._id); $event.stopPropagation();"><i class="fa fa-times"></i> REMOVE FROM PLAN</small>
              </div>

            </div>

          </div>
        </div>


        </div>

      </div>

    </div>
  </article>

  <article class="info two" id="two">
    <div ng-click="reset(); toggleDiv('two'); showActivity = undefined">
      <h2 ng-hide="userPlan.length">Plan your Trip<i ng-hide="info.two" class="fa fa-chevron-right"></i><i ng-show="info.two" class="fa fa-chevron-down"></i></h2>
      <h2 ng-show="userPlan.length">Add Activities<i ng-hide="info.two" class="fa fa-chevron-right"></i><i ng-show="info.two" class="fa fa-chevron-down"></i></h2>
    </div>
    <div class="accordian" ng-show="info.two || showActivity">

      <h3 ng-click="filters.open=!filters.open; reset()" ng-init="filters.open=false">What do you want to do? <i ng-hide="filters.open" class="fa fa-caret-right"></i><i ng-show="filters.open" class="fa fa-caret-down"></i></h3>
      <div ng-show="filters.open" class="filter">
        <p>Activity type</p>
        <select ng-model="type" ng-init="type='all'" ng-click="resetType()">
          <option  ng-value="type" ng-repeat="type in ['all', 'active', 'viewpoint', 'shop', 'learn', 'nearby']">{{type}}</option>
        </select>
        <select ng-show="type === 'active'" ng-model="subtype" ng-init="subtype='all'">
          <option ng-value="subtype" ng-repeat="subtype in ['all', 'mule ride', 'hike', 'bike', 'raft', 'air tour', 'backpack']">{{subtype}}</option>
        </select>
      </div>

      <div class="activityBox">

        <div class="big row" ng-repeat="start in rowStart">

          <div class="activity">

            <div class="image one-third column" ng-click="reset(); activity.open=true; $event.stopPropagation();" ng-repeat="activity in activities | activityType: type | activityType: subtype | limitTo: columns: start">
              <div class="imageBox ">
                <div class="overlay"></div>
                <img ng-src={{activity.image}} alt="{{activity.title}}">
                <i ng-class="['fa', 'fa-plus-circle', {greentxt: activity.inUserPlan, ltgreen: !activity.inUserPlan}]" ng-click="addToPlan(user_id, activity._id); $event.stopPropagation();" class="fa fa-plus-circle"></i>
                <h5 ng-click="activity.open=!activity.open; $event.stopPropagation();" class="subtitle">{{activity.rim}}</h5>
                <h4 ng-click="activity.open=!activity.open; $event.stopPropagation();" class="title">{{activity.title}}</h4>
                <div class="detailBorder" ng-show="activity.open"></div>
              </div>
            </div>

            <div class="detail u-cf" ng-show="activity.open" ng-repeat="activity in activities | activityType: type | limitTo: columns: start">
              <div class="row">
                <div class="shareBox six columns">
                  <a ng-href="{{activity.facebookShare}}"><i class="fa fa-facebook-square"></i></a>
                  <a ng-href="{{activity.twitterShare}}"><i class="fa fa-twitter-square"></i></a>
                  <a ng-href="{{activity.pinterestShare}}"><i class="fa fa-pinterest-square"></i></a>
                </div>
                <i class="fa fa-times close u-pull-right" ng-click="activity.open=false; $event.stopPropagation();"></i>

              </div>

              <div class="one-third column">


                <h5>hours</h5>
                <p>
                  {{activity.hours}}
                </p>
                <h5>location</h5>
                <p>
                  {{activity.location}}
                </p>
              </div>

              <div class="one-third column">
                <h5>description</h5>
                <p>
                  {{activity.description}}
                </p>
                <p>
                  <a href="{{activity.link}}" target="_blank">{{activity.link}}</a>
                </p>

              </div>

              <div class="one-third column">
                <h5>good for</h5>
                <p>
                  {{activity.yes}}
                </p>
                <h5>access</h5>
                <p>
                  {{activity.access}}
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </article>

  <article class="info three" id="three">
    <h2 ng-click="toggleDiv('three')">About the Park  <i ng-hide="info.three" class="fa fa-chevron-right"></i><i ng-show="info.three" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="info.three">
      <p>
        Grand Canyon National Park spans 277 miles of the Colorado river and adjacent uplands.
        It is located entirely in northern Arizona.
      </p>
      <p>
        Most visitors (90%) choose to see Grand Canyon National
        Park from the overlooks along the South Rim.
        The South Rim, which is the most accessible part of the park,
        includes historic Grand Canyon Village, Hermit Road, and Desert View Drive.
        The South Rim is open all year long, even on holidays.
      </p>
      <p>
        A much smaller number of people (10%) see the canyon from the North Rim of the park.
        The North Rim lies just 10 miles across the canyon from the South Rim,
        but it is a 220 mile, or approximately 4.5 hour drive by car, all the way around the canyon.
        It has a shorter season, with lodging and restaurants that are open from May 15 through
        October 15 each year.
      </p>
      <h3>Fees</h3>
      <p>Private Vehicle: $25</p>
      <p>Pedestrian, Motorcyclist, Bicyclist: $12</p>
      <p>
        Admission is for seven days and includes entrance to both
        South Rim and North Rim.
      </p>
      <img src="../assets/images/GC-about.jpg" alt="Grand Canyon Overlook">
      <h3>Free Entrance Days</h3>
      <p>
        The National Park Service offers free entrance days several days a year.
        Typically, days with free entrance are holidays like
        Martin Luther King Jr. Day, Presidents Day Weekend, Veterans
        Day, and several others. For more information, visit:
        <a href="http://www.nps.gov/findapark/feefreeparks.htm" target="_blank">www.nps.gov/findapark/feefreeparks.htm</a>
      </p>
      <p>
        For more information on Annual, Active Military, Senior and
        Access passes and fees:
        <a href="http://www.nps.gov/grca/planyourvisit/fees.htm" target="_blank">www.nps.gov/grca/planyourvisit/fees.htm</a>
      </p>
      <p>
        Other fees such as reservation, camping, lodging, tours,
        concession and fees collected by third parties are not included
        unless stated otherwise.
      </p>
      <h3>Park Hours and Seasonality</h3>
      <p>
        Park Entrances: Open 24 hours a day
      </p>
      <p>
        North Rim Facilities: Open mid-May and close in mid-October
      </p>
      <p>
        Desert View Campground: May 1st through mid-October
      </p>
      <p>
        South Rim Facilities and Grand Canyon Village: Open all year
      </p>
      <small>
        While park entrances are open 24 hours a day, stations are not always manned.
      </small>
      <p></p>
      <h3>Accessibility</h3>
      <p>
        Many of the facilities at Grand Canyon are historic and were built before current accessibility standards were set.
        The terrain is rugged with narrow, rocky trails and steep cliffs. Visitors using
        wheelchairs or who have visual impairments may need assistance. For more information, please visit <a href="http://www.nps.gov/grca/planyourvisit/accessibility.htm" target="_blank">www.nps.gov/grca/planyourvisit/accessibility.htm</a>
      </p>
      <h3>Pets</h3>
      <p>
        Pets are permitted in the park if leashed, but not below the rim, in park lodging, inside
        buildings or on buses, with the exception of service animals. People who want to take a
        service animal below the rim must check in at the Backcountry Information Center.
      </p>
      <p>
        There is a kennel for dogs and cats at the South Rim, open 7:30 a.m.-5:00 p.m. daily.
        <a href="http://www.nps.gov/grca/planyourvisit/pets.htm" target="_blank">www.nps.gov/grca/planyourvisit/pets.htm</a>
      </p>
    </div>
  </article>

  <article class="info four" id="four">
    <h2 ng-click="toggleDiv('four')">Getting to the Park  <i ng-hide="info.four" class="fa fa-chevron-right"></i><i ng-show="info.four" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="info.four">
      <h3>Airports and Drive Times</h3>
      <p>
        There are several ways to arrive at Grand Canyon National Park.
        Many visitors fly into Phoenix, Arizona, and Las Vegas, Nevada.
        There are also limited flights arriving in Flagstaff, Arizona.
        You will need to rent a car from these airports or reserve a shuttle to the park from Phoenix or Flagstaff.
      </p>
      <h4>Drive time to South Rim</h4>
      <table>
        <th>City</th>
        <th>Distance</th>
        <th>Approximate driving time</th>
        <tr>
          <td>
            Phoenix, AZ
          </td>
          <td>
            213 miles
          </td>
          <td>
            3.5 hours
          </td>
        </tr>
        <tr>
          <td>
            Las Vegas, NZ
          </td>
          <td>
            278 miles
          </td>
          <td>
            4 hours
          </td>
        </tr>
        <tr>
          <td>
            Flagstaff, AZ
          </td>
          <td>
            81 miles
          </td>
          <td>
            1.5 hours
          </td>
        </tr>
      </table>
      <p>
        <strong>
          Directions:
        </strong>
        <a href="http://www.nps.gov/grca/planyourvisit/directions_s_rim.htm" target="_blank">www.nps.gov/grca/planyourvisit/directions_s_rim.htm</a>
      </p>
      <h3>Free Shuttle Bus Service</h3>
      <h4>From Outside the Canyon</h4>
      <p>
        The Tusayan Route provides free direct shuttle bus service,
        between the gateway community of Tusayan and the Grand
        Canyon Visitor Center from mid May to early September. Tusayan,
        Arizona, is located 7 miles south of Grand Canyon Village on the
        South Rim and free shuttle buses operate on several routes.
      </p>
      <p>
        When boarding the bus, you do not need a ticket but you
        must present a valid park entrance pass. Entrance passes may be
        purchased at park entrances or at various businesses in Tusayan.
      </p>
      <h4>Within the Canyon</h4>
      <p>
        There are several free shuttle routes within Grand Canyon
        National Park connecting lodges, campgrounds, restaurants and
        shops with Market Plaza, the Visitors Center and Grand Canyon
        Association Park Store.
      </p>
      <h4>Shuttle Bus Maps</h4>
      <p>
        For maps of shuttle bus routes and more information about
        specific routes, availability, or how to effectively combine hiking
        with shuttle bus stops, visit:
        <a href="http://www.nps.gov/grca/planyourvisit/shuttle-buses.htm" target="_blank">www.nps.gov/grca/planyourvisit/shuttle-buses.htm</a>
      </p>
    </div>
  </article>

  <article class="info five" id="five">
    <h2 ng-click="toggleDiv('five'); window.location='#five'">Where to Stay  <i ng-hide="info.five" class="fa fa-chevron-right"></i><i ng-show="info.five" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="info.five">
      <h3>South Rim Lodging</h3>
      <p>
        From the historic El Tovar Hotel and Bright Angel Lodge to the more
        modern Maswick, Thunderbird, and Yavapai Lodges, the South Rim of the
        park offers a perfect place from which to base your time at the canyon.
      </p>
      <p>
        Reservations for Phantom Ranch, in the canyon, can be made here too.
      </p>
      <p>
        Visit <a href="http://www.grandcanyonlodges.com" target="_blank">GrandCanyonLodges.com</a>
      </p>
      <h3>North Rim Lodging</h3>
      <p>
        Inside the park, the Grand Canyon Lodge offers private cabins and guest
        rooms, as well as an on-site restaurant.
      </p>

      <p>
        Visit <a href="http://www.grandcanyonforever.com" target="_blank">GrandCanyonForever.com</a>
      </p>

      <h3>Camping</h3>
      <p>
        The South Rim hosts two campsites and one RV park, while the North Rim has one
        campground. For more information and to make reservations, visit the National
        Park Service website <a href="http://www.nps.gov/grca/planyourvisit/camping.htm" target="_blank">http://www.nps.gov/grca/planyourvisit/camping.htm</a>
      </p>

      <h3>Outside the Park</h3>
      <p>
        The town of Tusayan, 7 miles south of Grand Canyon Village, has a number
        of great places to stay. Other nearby lodging option include the cities
        of Flagstaff, Sedona, and Williams.
      </p>

    </div>
  </article>

  <article class="info six" id="six">
    <h2 ng-click="toggleDiv('six')">Seasonal Information  <i ng-hide="info.six" class="fa fa-chevron-right"></i><i ng-show="info.six" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="info.six">
      <p>
        When it comes to weather at the Grand Canyon, we recommend that
        you expect the unexpected! Weather conditions vary greatly at the
        Grand Canyon, so be prepared for all conditions in all seasons.
      </p>

      <p>
        For detailed weather information, visit <a href="http://www.nps.gov/grca/planyourvisit/weather-condition.htm" target="_blank">http://www.nps.gov/grca/planyourvisit/weather-condition.htm</a>
      </p>
    </div>
  </article>

  <article class="info seven" id="seven">
    <h2 ng-click="toggleDiv('seven')">More Resources <i ng-hide="info.seven" class="fa fa-chevron-right"></i><i ng-show="info.seven" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="info.seven">
      <h3><a href="https://www.grandcanyon.org/about-grand-canyon-association/about-grand-canyon-association" target="_blank">About the Grand Canyon Association</a></h3>
      <h3><a href="http://www.grandcanyon.org/shop/online-store/%20trip-planning-package" target="_blank">Grand Canyon Association Online Store</a></h3>
      <h3><a href="http://www.nps.gov/grca/planyourvisit/index.htm" target="_blank">National Park Service</a></h3>
    </div>
  </article>

</nav>

<footer>
  <section class="green">
    <div class="row">
      <div class="one column"><img class="shield" ng-src="../assets/images/footer-national_forest_service.png" alt=""></div>
      <div class="eleven columns">
        <small>
          <a href="https://www.grandcanyon.org/" target="_blank">The Grand Canyon Association</a> is the official nonprofit partner of Grand Canyon National Park. For more information about the Grand Canyon National Park, visit <a href="http://www.nps.gov/grca">http://www.nps.gov/grca</a>
        </small>
      </div>
    </div>
  </section>
  <section class="copyright">
    <small> Copyright text goes here.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices
    sodales felis, non porta massa tincidunt ut. Sed a urna orci. Donec ac
    pharetra lectus. Mauris placerat arcu eget viverra vulputate. Mauris finibus
    tempus ligula, id pellentesque sapien luctus vitae. Integer sodales interdum
    sagittis. Vestibulum tellus neque, consectetur non ante euismod, laoreet
    rutrum urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia Curae; In ut malesuada nisi. Phasellus eu est ac nunc accumsan
    lacinia. Quisque quis facilisis enim, a dictum sem. </small>
  </section>
</footer>
