<header>
  <img class="logo" ng-src="../assets/images/gca-logo.jpeg" alt="Grand Canyon Association Logo">
  <p class="right" ng-show="user_id" ng-click="logout()">logout</p>
  <p class="right" ng-show="!user_id" ng-click="login()">login</p>
  <h2 class="right" ng-show="userPlan.length">{{userPlan.length}}<i class="fa fa-calendar"></i></h2>
</header>

<div class="hero" ng-hide="(user_id && myPlan.open) || plan.open" >
  <img ng-src="http://cdn.lightgalleries.net/4bd5ec12b739d/images/Grand-Canyon-National-Park-South-Rim-AZ-13-000435_bw_vv-1.jpg" alt="Grand Canyon">
  <h1 class="title">
    Plan your trip and get the most out of your Grand Canyon visit
  </h1>
  <a href="/#/register" ng-show="!user_id"><button>Sign up and make a plan!</button></a>
</div>

<nav class="nav">

  <div ng-if="showPlan">
  <p>showPlan div</p>
  {{showPlan}}
  </div>

  <article class="info myPlan green" ng-show="userPlan.length">
    <h2 ng-click="myPlan.open = !myPlan.open">My Plan {{userPlan.length}}<i ng-hide="myPlan.open" class="fa fa-chevron-right"></i><i ng-show="myPlan.open" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="myPlan.open" ng-init="myPlan.open = true">

      <div class="activityBox">

        <!-- row One -->
        <div class="row">
          <div class="activity one-third column" ng-repeat="activity in activities | myActivities: userPlan | limitTo: 3: 0" ng-click="details.open=true" ng-init="details.open = false">
            <div class="imageBox">
              <img ng-src={{activity.image}} alt="{{activity.title}}">
              <i ng-click="removeFromPlan(user_id, activity._id); $event.stopPropagation();" class="fa fa-times delete"></i>
              <h5 ng-click="details.open=!details.open; $event.stopPropagation();" class="subtitle">{{activity.rim}} rim</h5>
              <h4 ng-click="details.open=!details.open; $event.stopPropagation();" class="title">{{activity.title}}</h4>
            </div>

            <div class="more" ng-show="details.open" >
              <i class="fa fa-times close" ng-click="details.open=!details.open; $event.stopPropagation();"></i>
              <h5>hours</h5>
              <p>
                {{activity.hours}}
              </p>
              <h5>location</h5>
              <p>
                {{activity.location}}
              </p>
              <h5>description</h5>
              <p>
                {{activity.description}}
              </p>
              <h5>good for</h5>
              <p>
                {{activity.age}}
              </p>
              <p>
                {{activity.access}}
              </p>
            </div>
          </div>
        </div>

        <!-- row Two -->
        <div class="row">
          <div class="activity one-third column" ng-repeat="activity in activities | myActivities: userPlan | limitTo: 3: 3" ng-click="details.open=true" ng-init="details.open = false">
            <div class="imageBox">
              <img ng-src={{activity.image}} alt="{{activity.title}}">
              <i ng-click="removeFromPlan(user_id, activity._id); $event.stopPropagation();" class="fa fa-times delete"></i>
              <h5 ng-click="details.open=!details.open; $event.stopPropagation();" class="subtitle">{{activity.rim}} rim</h5>
              <h4 ng-click="details.open=!details.open; $event.stopPropagation();" class="title">{{activity.title}}</h4>
            </div>

            <div class="more" ng-show="details.open" >
              <i class="fa fa-times close" ng-click="details.open=!details.open; $event.stopPropagation();"></i>
              <h5>hours</h5>
              <p>
                {{activity.hours}}
              </p>
              <h5>location</h5>
              <p>
                {{activity.location}}
              </p>
              <h5>description</h5>
              <p>
                {{activity.description}}
              </p>
              <h5>good for</h5>
              <p>
                {{activity.age}}
              </p>
              <p>
                {{activity.access}}
              </p>
            </div>
          </div>
        </div>

        <!-- row Three -->
        <div class="row">
          <div class="activity one-third column" ng-repeat="activity in activities | myActivities: userPlan | limitTo: 3: 6" ng-click="details.open=true" ng-init="details.open = false">
            <div class="imageBox">
              <img ng-src={{activity.image}} alt="{{activity.title}}">
              <i ng-click="removeFromPlan(user_id, activity._id); $event.stopPropagation();" class="fa fa-times delete"></i>
              <h5 ng-click="details.open=!details.open; $event.stopPropagation();" class="subtitle">{{activity.rim}} rim</h5>
              <h4 ng-click="details.open=!details.open; $event.stopPropagation();" class="title">{{activity.title}}</h4>
            </div>

            <div class="more" ng-show="details.open" >
              <i class="fa fa-times close" ng-click="details.open=!details.open; $event.stopPropagation();"></i>
              <h5>hours</h5>
              <p>
                {{activity.hours}}
              </p>
              <h5>location</h5>
              <p>
                {{activity.location}}
              </p>
              <h5>description</h5>
              <p>
                {{activity.description}}
              </p>
              <h5>good for</h5>
              <p>
                {{activity.age}}
              </p>
              <p>
                {{activity.access}}
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </article>

  <article class="info plan">
    <div ng-click="plan.open = !plan.open">
      <h2 ng-hide="userPlan.length">Plan your Trip<i ng-hide="plan.open" class="fa fa-chevron-right"></i><i ng-show="plan.open" class="fa fa-chevron-down"></i></h2>
      <h2 ng-show="userPlan.length">Add Activities<i ng-hide="plan.open" class="fa fa-chevron-right"></i><i ng-show="plan.open" class="fa fa-chevron-down"></i></h2>
    </div>
    <div class="accordian" ng-show="plan.open || showActivity">

      <p ng-click="filters.open=!filters.open" ng-init="filters.open=false">Filters <i ng-hide="filters.open" class="fa fa-caret-right"></i><i ng-show="filters.open" class="fa fa-caret-down"></i></p>
      <div ng-show="filters.open" class="filter">
        <p>Activity type</p>
        <select ng-model="type" ng-init="type='all'">
          <option ng-value="type" ng-repeat="type in ['all', 'museum', 'shopping', 'active', 'tour', 'class', 'nearby']">{{type}}</option>
        </select>
      </div>

      <div class="activityBox">
        <!-- row One -->
        <div class="row">
          <div class="activity one-third column" ng-click="details.open=true" ng-repeat="activity in activities | activityType: type | limitTo: 3: 0">
            <div class="imageBox">
              <img ng-src={{activity.image}} alt="{{activity.title}}">
              <i ng-hide="activity.inUserPlan" ng-click="addToPlan(user_id, activity._id); $event.stopPropagation();" class="fa fa-plus"></i>
              <i ng-show="activity.inUserPlan" class="fa fa-plus-circle greentxt"></i>
              <h5 ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();" class="subtitle">{{activity.rim}} rim</h5>
              <h4 ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();" class="title">{{activity.title}}</h4>
            </div>

            <div class="more" ng-show="details.open || showActivity.title === activity.title" >
              <i class="fa fa-times close" ng-click="details.open=false; showActivity=undefined; $event.stopPropagation();"></i>

              <a ng-href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Factivity%2F{{activity.title}}&picture=http%3A%2F%2Fplacekitten.com%2F300%2F300&name=Activity%20for%20Grand%20Canyon%20Trip%20Planner&caption=%20&description=Check%20out%20this%20great%20activity%20at%20the%20Grand%20Canyon!&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F&display=popup">F</a>
              <a ng-href="http://twitter.com/intent/tweet?text=Here%27s%20what%20I%27m%20doing%20on%20my%20trip%20to%20the%20Grand%20Canyon%3A%20https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Factivity%2F{{activity.title}}">T</a>
              <a ng-href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Factivity%2F{{activity.title}}&media=https%3A%2F%2Fplacekitten.com%2F300%2F200&description=For%20my%20trip%20to%20the%20Grand%20Canyon%3A">P</a>
              <h5>hours</h5>
              <p>
                {{activity.hours}}
              </p>
              <h5>location</h5>
              <p>
                {{activity.location}}
              </p>
              <h5>description</h5>
              <p>
                {{activity.description}}
              </p>
              <h5>good for</h5>
              <p>
                {{activity.age}}
              </p>
              <p>
                {{activity.access}}
              </p>
            </div>
          </div>
        </div>
        <!-- row Two -->
        <div class="row">
          <div class="activity one-third column" ng-click="details.open=true" ng-repeat="activity in activities | activityType: type | limitTo: 3: 3" ng-init="details.open = false">
            <div class="imageBox">
              <img ng-src={{activity.image}} alt="{{activity.title}}">
              <i ng-hide="activity.inUserPlan" ng-click="addToPlan(user_id, activity._id); $event.stopPropagation();" class="fa fa-plus"></i>
              <i ng-show="activity.inUserPlan" class="fa fa-plus-circle greentxt"></i>
              <h5 ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();" class="subtitle">{{activity.rim}} rim</h5>
              <h4 ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();" class="title">{{activity.title}}</h4>
            </div>

            <div class="more" ng-show="details.open || showActivity.title === activity.title" >
              <i class="fa fa-times close" ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();"></i>
              <h5>hours</h5>
              <p>
                {{activity.hours}}
              </p>
              <h5>location</h5>
              <p>
                {{activity.location}}
              </p>
              <h5>description</h5>
              <p>
                {{activity.description}}
              </p>
              <h5>good for</h5>
              <p>
                {{activity.age}}
              </p>
              <p>
                {{activity.access}}
              </p>
            </div>
          </div>
        </div>
        <!-- row Three -->
        <div class="row">
          <div class="activity one-third column" ng-click="details.open=true" ng-repeat="activity in activities | activityType: type | limitTo: 3: 6" ng-init="details.open = false">
            <div class="imageBox">
              <img ng-src={{activity.image}} alt="{{activity.title}}">
              <i ng-hide="activity.inUserPlan" ng-click="addToPlan(user_id, activity._id); $event.stopPropagation();" class="fa fa-plus"></i>
              <i ng-show="activity.inUserPlan" class="fa fa-plus-circle greentxt"></i>
              <h5 ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();" class="subtitle">{{activity.rim}} rim</h5>
              <h4 ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();" class="title">{{activity.title}}</h4>
            </div>

            <div class="more" ng-show="details.open || showActivity.title === activity.title" >
              <i class="fa fa-times close" ng-click="details.open=!details.open; showActivity=undefined; $event.stopPropagation();"></i>
              <h5>hours</h5>
              <p>
                {{activity.hours}}
              </p>
              <h5>location</h5>
              <p>
                {{activity.location}}
              </p>
              <h5>description</h5>
              <p>
                {{activity.description}}
              </p>
              <h5>good for</h5>
              <p>
                {{activity.age}}
              </p>
              <p>
                {{activity.access}}
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </article>

  <article class="info about">
    <h2 ng-click="about.open = !about.open" ng-init="about.open = false">About the Park  <i ng-hide="about.open" class="fa fa-chevron-right"></i><i ng-show="about.open" class="fa fa-chevron-down"></i></h2>
    <div ng-click="about.open = !about.open" class="accordian" ng-show="about.open">
      <p>
        Grand Canyon National Park spans 277 miles of the Colorado river and adjacent uplands.
        It is located entirely in northern Arizona.
      </p>
      <p>
        Most visitors (90%) choose to see Grand Canyon National
        Park from the overlooks along the South Rim.
        The South Rim, which is the most accessible part of the park,
        includes historic Grand Canyon Village, Hermit Road, and Desert View Drive.
        The South Rim is open all year long, even on holidays.
      </p>
      <p>
        A much smaller number of people (10%) see the canyon from the North Rim of the park.
        The North Rim lies just 10 miles across the canyon from the South Rim,
        but it is a 220 mile, or approximately 4.5 hour drive by car, all the way around the canyon.
        It has a shorter season, with lodging and restaurants that are open from May 15 through
        October 15 each year.
      </p>
      <h3>Fees</h3>
      <p>Private Vehicle: $25</p>
      <p>Pedestrian, Motorcyclist, Bicyclist: $12</p>
      <p>
        Admission is for seven days and includes entrance to both
        South Rim and North Rim.
      </p>
      <h3>Free Entrance Days</h3>
      <p>
        The National Park Service offers free entrance days several days a year.
        Typically, days with free entrance are holidays like
        Martin Luther King Jr. Day, Presidents Day Weekend, Veterans
        Day, and several others. For more information, visit:
        <a href="www.nps.gov/findapark/feefreeparks.htm">www.nps.gov/findapark/feefreeparks.htm</a>
      </p>
      <p>
        For more information on Annual, Active Military, Senior and
        Access passes and fees:
        <a href="www.nps.gov/grca/planyourvisit/fees.htm">www.nps.gov/grca/planyourvisit/fees.htm</a>
      </p>
      <p>
        Other fees such as reservation, camping, lodging, tours,
        concession and fees collected by third parties are not included
        unless stated otherwise.
      </p>
      <h3>Park Hours and Seasonality</h3>
      <p>
        Park Entrances: Open 24 hours a day
      </p>
      <p>
        North Rim Facilities: Open mid-May and close in mid-October
      </p>
      <p>
        Desert View Campground: May 1st through mid-October
      </p>
      <p>
        South Rim Facilities and Grand Canyon Village: Open all year
      </p>
      <small>
        While park entrances are open 24 hours a day, stations are not always manned.
      </small>
      <h3>Pets</h3>
      <p>
        Pets are permitted in the park if leashed, but not below the rim, in park lodging, inside
        buildings or on buses, with the exception of service animals. People who want to take a
        service animal below the rim must check in at the Backcountry Information Center.
      </p>
      <p>
        There is a kennel for dogs and cats at the South Rim, open 7:30 a.m.-5:00 p.m. daily.
        <a href="www.nps.gov/grca/planyourvisit/pets.htm">www.nps.gov/grca/planyourvisit/pets.htm</a>
      </p>
    </div>
  </article>

  <article class="info transport">
    <h2 ng-click="transport.open = !transport.open">Getting to the Park  <i ng-hide="transport.open" class="fa fa-chevron-right"></i><i ng-show="transport.open" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="transport.open" ng-init="transport.open = false">
      <h3>Airports and Drive Times</h3>
      <p>
        There are several ways to arrive at Grand Canyon National Park.
        Many visitors fly into Phoenix, Arizona, and Las Vegas, Nevada.
        There are also limited flights arriving in Flagstaff, Arizona.
        You will need to rent a car from these airports or reserve a shuttle to the park from Phoenix or Flagstaff.
      </p>
      <h4>Drive time to South Rim</h4>
      <table>
        <th>City</th>
        <th>Distance</th>
        <th>Approximate driving time</th>
        <tr>
          <td>
            Phoenix, AZ
          </td>
          <td>
            213 miles
          </td>
          <td>
            3.5 hours
          </td>
        </tr>
        <tr>
          <td>
            Las Vegas, NZ
          </td>
          <td>
            278 miles
          </td>
          <td>
            4 hours
          </td>
        </tr>
        <tr>
          <td>
            Flagstaff, AZ
          </td>
          <td>
            81 miles
          </td>
          <td>
            1.5 hours
          </td>
        </tr>
      </table>
      <p>
        <strong>
          Directions:
        </strong>
        <a href="www.nps.gov/grca/planyourvisit/directions_s_rim.htm">www.nps.gov/grca/planyourvisit/directions_s_rim.htm</a>
      </p>
      <h3>Free Shuttle Bus Service</h3>
      <h4>From Outside the Canyon</h4>
      <p>
        The Tusayan Route provides free direct shuttle bus service,
        between the gateway community of Tusayan and the Grand
        Canyon Visitor Center from mid May to early September. Tusayan,
        Arizona, is located 7 miles south of Grand Canyon Village on the
        South Rim and free shuttle buses operate on several routes.
      </p>
      <p>
        When boarding the bus, you do not need a ticket but you
        must present a valid park entrance pass. Entrance passes may be
        purchased at park entrances or at various businesses in Tusayan.
      </p>
      <h4>Within the Canyon</h4>
      <p>
        There are several free shuttle routes within Grand Canyon
        National Park connecting lodges, campgrounds, restaurants and
        shops with Market Plaza, the Visitors Center and Grand Canyon
        Association Park Store.
      </p>
      <h4>Shuttle Bus Maps</h4>
      <p>
        For maps of shuttle bus routes and more information about
        specific routes, availability, or how to effectively combine hiking
        with shuttle bus stops, visit:
        <a href="www.nps.gov/grca/planyourvisit/shuttle-buses.htm">www.nps.gov/grca/planyourvisit/shuttle-buses.htm</a>
      </p>
    </div>
  </article>

  <article class="info lodging">
    <h2 ng-click="lodging.open = !lodging.open">Where to Stay  <i ng-hide="lodging.open" class="fa fa-chevron-right"></i><i ng-show="lodging.open" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="lodging.open" ng-init="lodging.open = false">
      <h3>South Rim Lodging</h3>
      <p>
        A variety of historic lodges, motels and hotels are located
        right inside Grand Canyon National Park. From the historic
        El Tovar Hotel and Bright Angel Lodge to the more
        modern Maswick, Thunderbird, and Yavapai Lodges, the
        park offers a perfect place from which to base your time at
        the canyon.
      </p>
    </div>
  </article>

  <article class="info seasons">
    <h2 ng-click="seasons.open = !seasons.open">Seasonal Information  <i ng-hide="seasons.open" class="fa fa-chevron-right"></i><i ng-show="seasons.open" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="seasons.open" ng-init="seasons.open = false">
      <p>
        When it comes to weather at the Grand Canyon, we recommend that
        you expect the unexpected! Weather conditions vary greatly at the
        Grand Canyon, so be prepared for all conditions in all seasons.
      </p>
    </div>
  </article>

  <article class="info misc">
    <h2 ng-click="misc.open = !misc.open">More Resources <i ng-hide="misc.open" class="fa fa-chevron-right"></i><i ng-show="misc.open" class="fa fa-chevron-down"></i></h2>
    <div class="accordian" ng-show="misc.open" ng-init="misc.open = false">
      <h3>GCA and other planning resources</h3>
    </div>
  </article>

</nav>

<!-- <div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div> -->

<!-- <a href="#/activities/new">add activity</a><br>
<a href="#/plan">show my plan</a><br>
<a href="#/login">login</a><br> -->

<footer>
  <section class="green">
    <div class="row">
    <div class="one column"><img class="shield" ng-src="../assets/images/footer-national_forest_service.png" alt=""></div>
    <div class="eleven columns">
      <small>
        The Grand Canyon Association is the official nonprofit partner of Grand Canyon National Park. For more information about the Grand Canyon National Park, visit http://www.nps.gov/grca
      </small>
    </div>
  </div>

</section> <section class="copyright"> <small> Copyright text goes here.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices
  sodales felis, non porta massa tincidunt ut. Sed a urna orci. Donec ac
  pharetra lectus. Mauris placerat arcu eget viverra vulputate. Mauris finibus
  tempus ligula, id pellentesque sapien luctus vitae. Integer sodales interdum
  sagittis. Vestibulum tellus neque, consectetur non ante euismod, laoreet
  rutrum urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
  posuere cubilia Curae; In ut malesuada nisi. Phasellus eu est ac nunc accumsan
  lacinia. Quisque quis facilisis enim, a dictum sem. </small> </section>
  </footer>
