<header sim-header logo="'gca-logo.jpeg'" logo-text="'Grand Canyon Association Logo'" user="user_id" plan="userPlan" logout="logout()"></header>

<div sim-hero class="hero accordian" ng-show="info.hero" hero-image="'GC-hero.jpg'" hero-text="'Grand Canyon'" title="'Plan your trip and get the most out of your Grand Canyon visit'" cta="'Sign up and make a plan!'"  user="user_id"></div>

<nav class="nav">

  <article id="plan" class="info one green" ng-show="user_id" >

    <div ng-click="reset(); toggleDiv('one')">
      <h2 id="one">{{name | capitalize }}'s Plan ({{userPlan.length}})<i ng-hide="info.one" class="fa fa-chevron-right"></i><i ng-show="info.one" class="fa fa-chevron-down"></i></h2>
      <div sim-share-box class="shareBox" ng-hide="userPlan.length === 0 || !info.one" user="user_id"></div>
    </div>

    <div class="accordian" ng-show="info.one">

      <div class="activityBox">

        <div class="dummy activity" ng-show="userPlan.length === 0" ng-click="toggleDiv('two')" ng-init="activity.open=false">
          <div sim-activity activity="{image:'../assets/images/gc-img-1.png', title:'Grand Canyon', rim: 'Add activities to your plan!' }" dummy="true"></div>
        </div>

        <div class="big row" ng-repeat="start in planStart">

          <div class="activity">

            <div class="image one-third column" ng-click="reset(); activity.open=true; $event.stopPropagation();" ng-repeat="activity in activities | myActivities: userPlan | limitTo: columns: start">
              <div sim-activity activity="activity" user="user_id" plan-action="removeFromPlan(user_id, activity._id)"></div>
            </div>

            <div class="detail u-cf" ng-show="activity.open" ng-repeat="activity in activities | myActivities: userPlan | limitTo: columns: start">
              <div sim-activity-detail activity="activity" plan-action="removeFromPlan(user_id, activity._id)" user="user_id"></div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </article>

  <article class="info two">
    <div sim-nav-bar ng-hide="userPlan.length" ng-click="reset(); toggleDiv('two'); showActivity = undefined" id="two" info="info.two" label="'Plan Your Trip'"></div>
    <div sim-nav-bar ng-show="userPlan.length" ng-click="reset(); toggleDiv('two'); showActivity = undefined" id="two" info="info.two" label="'Add Activities'"></div>

    <div class="accordian" ng-show="info.two || showActivity">

      <h3>What do you want to do?</h3>
      <div class="filter">
        <p>Activity type</p>
        <select ng-model="type" ng-init="type='all'" ng-click="resetSubtype()">
          <option  ng-value="type" ng-repeat="type in ['all', 'active', 'viewpoint', 'shop', 'learn', 'nearby']">{{type}}</option>
        </select>
        <select ng-show="type === 'active'" ng-model="subtype" ng-init="subtype='all'">
          <option ng-value="subtype" ng-repeat="subtype in ['all', 'mule', 'hike', 'bike', 'raft', 'air', 'backpack']">{{subtype}}</option>
        </select>
      </div>

      <div class="activityBox">

        <div class="big row" ng-repeat="start in rowStart">

          <div class="activity">

            <div class="image one-third column" ng-click="reset(); activity.open=true; $event.stopPropagation();" ng-repeat="activity in activities | activityType: type | activityType: subtype | limitTo: columns: start">
              <div sim-activity activity="activity" show-activity="showActivity" user="user_id" plan-action="addToPlan(user_id, activity._id)"></div>
            </div>

            <div class="detail u-cf" ng-show="activity.open || activity._id === showActivity._id" ng-repeat="activity in activities | activityType: type | limitTo: columns: start">
              <div sim-activity-detail activity="activity" user="user_id" plan-action="removeFromPlan(user_id, activity._id)"></div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </article>

  <article class="info three">
    <div sim-nav-bar ng-click="toggleDiv('three')" id="three" info="info.three" label="'About the Park'"></div>
    <div class="accordian" ng-show="info.three">
      <p>
        Grand Canyon National Park spans 277 miles of the Colorado river and adjacent uplands.
        It is located entirely in northern Arizona.
      </p>
      <p>
        Most visitors (90%) choose to see Grand Canyon National
        Park from the overlooks along the South Rim.
        The South Rim, which is the most accessible part of the park,
        includes historic Grand Canyon Village, Hermit Road, and Desert View Drive.
        The South Rim is open all year long, even on holidays.
      </p>
      <p>
        A much smaller number of people (10%) see the canyon from the North Rim of the park.
        The North Rim lies just 10 miles across the canyon from the South Rim,
        but it is a 220 mile, or approximately 4.5 hour drive by car, all the way around the canyon.
        It has a shorter season, with lodging and restaurants that are open from May 15 through
        October 15 each year.
      </p>
      <h3>Fees</h3>
      <p>Private Vehicle: $25</p>
      <p>Pedestrian, Motorcyclist, Bicyclist: $12</p>
      <p>
        Admission is for seven days and includes entrance to both
        South Rim and North Rim.
      </p>
      <img ng-src="../assets/images/GC-about.jpg" alt="Grand Canyon Overlook">
      <h3>Free Entrance Days</h3>
      <p>
        The National Park Service offers free entrance days several days a year.
        Typically, days with free entrance are holidays like
        Martin Luther King Jr. Day, Presidents Day Weekend, Veterans
        Day, and several others. For more information, visit:
        <a href="http://www.nps.gov/findapark/feefreeparks.htm" target="_blank">www.nps.gov/findapark/feefreeparks.htm</a>
      </p>
      <p>
        For more information on Annual, Active Military, Senior and
        Access passes and fees:
        <a href="http://www.nps.gov/grca/planyourvisit/fees.htm" target="_blank">www.nps.gov/grca/planyourvisit/fees.htm</a>
      </p>
      <p>
        Other fees such as reservation, camping, lodging, tours,
        concession and fees collected by third parties are not included
        unless stated otherwise.
      </p>
      <h3>Park Hours and Seasonality</h3>
      <p>
        Park Entrances: Open 24 hours a day
      </p>
      <p>
        North Rim Facilities: Open mid-May and close in mid-October
      </p>
      <p>
        Desert View Campground: May 1st through mid-October
      </p>
      <p>
        South Rim Facilities and Grand Canyon Village: Open all year
      </p>
      <small>
        While park entrances are open 24 hours a day, stations are not always manned.
      </small>
      <p></p>
      <h3>Groceries, Restaurants, and Dining</h3>
      <p>
        See the National Park Service's website for a <a href="http://www.nps.gov/grca/planyourvisit/restaurants.htm">full listing of dining and grocery options.</a>
      </p>
      <p></p>
      <h3>Accessibility</h3>
      <p>
        Many of the facilities at Grand Canyon are historic and were built before current accessibility standards were set.
        The terrain is rugged with narrow, rocky trails and steep cliffs. Visitors using
        wheelchairs or who have visual impairments may need assistance. For more information, please visit <a href="http://www.nps.gov/grca/planyourvisit/accessibility.htm" target="_blank">www.nps.gov/grca/planyourvisit/accessibility.htm</a>
      </p>
      <h3>Pets</h3>
      <p>
        Pets are permitted in the park if leashed, but not below the rim, in park lodging, inside
        buildings or on buses, with the exception of service animals. People who want to take a
        service animal below the rim must check in at the Backcountry Information Center.
      </p>
      <p>
        There is a kennel for dogs and cats at the South Rim, open 7:30am–5:00pm daily.
        <a href="http://www.nps.gov/grca/planyourvisit/pets.htm" target="_blank">www.nps.gov/grca/planyourvisit/pets.htm</a>
      </p>
    </div>
  </article>

  <article class="info four" >
    <div sim-nav-bar ng-click="toggleDiv('four')" id="four" info="info.four" label="'Getting to the Park'"></div>
    <div class="accordian" ng-show="info.four">
      <img ng-src="../assets/images/GC-Area-Map.png" alt="map of area around Grand Canyon National Park">
      <h3>Airports and Drive Times</h3>
      <p>
        There are several ways to arrive at Grand Canyon National Park.
        Many visitors fly into Phoenix, Arizona, and Las Vegas, Nevada.
        There are also limited flights arriving in Flagstaff, Arizona.
        You will need to rent a car from these airports or reserve a shuttle to the park from Phoenix or Flagstaff.
      </p>
      <h4>Drive time to South Rim</h4>
      <table>
        <th>City</th>
        <th>Distance</th>
        <th>Approximate driving time</th>
        <tr>
          <td>
            Phoenix, AZ
          </td>
          <td>
            213 miles
          </td>
          <td>
            3.5 hours
          </td>
        </tr>
        <tr>
          <td>
            Las Vegas, NZ
          </td>
          <td>
            278 miles
          </td>
          <td>
            4 hours
          </td>
        </tr>
        <tr>
          <td>
            Flagstaff, AZ
          </td>
          <td>
            81 miles
          </td>
          <td>
            1.5 hours
          </td>
        </tr>
      </table>
      <p>
        <strong>
          Directions:
        </strong>
        <a href="http://www.nps.gov/grca/planyourvisit/directions_s_rim.htm" target="_blank">www.nps.gov/grca/planyourvisit/directions_s_rim.htm</a>
      </p>
      <h3>Free Shuttle Bus Service</h3>
      <h4>Outside the Canyon</h4>
      <p>
        The Tusayan Route provides free direct shuttle bus service,
        between the gateway community of Tusayan and the Grand
        Canyon Visitor Center from mid May to early September. Tusayan,
        Arizona, is located 7 miles south of Grand Canyon Village on the
        South Rim and free shuttle buses operate on several routes.
      </p>
      <p>
        When boarding the bus, you do not need a ticket but you
        must present a valid park entrance pass. Entrance passes may be
        purchased at park entrances or at various businesses in Tusayan.
      </p>
      <h4>Within the Canyon</h4>
      <p>
        There are several free shuttle routes within Grand Canyon
        National Park connecting lodges, campgrounds, restaurants and
        shops with Market Plaza, the Visitors Center and Grand Canyon
        Association Park Store.
      </p>
      <h4>Shuttle Bus Maps</h4>
      <p>
        For maps of shuttle bus routes and more information about
        specific routes, availability, or how to effectively combine hiking
        with shuttle bus stops, visit:
        <a href="http://www.nps.gov/grca/planyourvisit/shuttle-buses.htm" target="_blank">www.nps.gov/grca/planyourvisit/shuttle-buses.htm</a>
      </p>
      <h4>Grand Canyon Railway</h4>
      <p>
        The Grand Canyon Railway departs daily at 9:30am from Williams, Arizona,
        which is about 30 miles west of Flagstaff, just off Interstate 40. The train
        travels almost due north to the South Rim of Grand Canyon National Park,
        arriving at 11:45am The trip measures 65 miles and takes 2 hours and 15
        minutes each way. The train departs Grand Canyon Depot at 3:30pm, returning to
        the Williams Depot at 5:45pm During peak demand periods a second train
        that departs at 10:30am will be added. Visit <a href="">www.thetrain.com</a>.
      </p>

    </div>
  </article>

  <article class="info five">
    <div sim-nav-bar ng-click="toggleDiv('five')" id="five" info="info.five" label="'Where to Stay'"></div>
    <div class="accordian" ng-show="info.five" >
      <h3>South Rim Lodging</h3>
      <p>
        From the historic El Tovar Hotel and Bright Angel Lodge to the more
        modern Maswick, Thunderbird, and Yavapai Lodges, the South Rim of the
        park offers a perfect place from which to base your time at the canyon.
      </p>
      <p>
        Reservations for Phantom Ranch, in the canyon, can be made here too.
      </p>
      <p>
        Visit <a href="http://www.grandcanyonlodges.com" target="_blank">GrandCanyonLodges.com</a>
      </p>
      <h3>North Rim Lodging</h3>
      <p>
        Inside the park, the Grand Canyon Lodge offers private cabins and guest
        rooms, as well as an on-site restaurant.
      </p>

      <p>
        Visit <a href="http://www.grandcanyonforever.com" target="_blank">GrandCanyonForever.com</a>
      </p>

      <h3>Camping</h3>
      <p>
        The South Rim hosts two campsites and one RV park, while the North Rim has one
        campground. For more information and to make reservations, visit the National
        Park Service website <a href="http://www.nps.gov/grca/planyourvisit/camping.htm" target="_blank">http://www.nps.gov/grca/planyourvisit/camping.htm</a>
      </p>

      <h3>Outside the Park</h3>
      <p>
        The town of Tusayan, 7 miles south of Grand Canyon Village, has a number
        of great places to stay. Other nearby lodging option include the cities
        of Flagstaff, Sedona, and Williams.
      </p>

    </div>
  </article>

  <article class="info six">
    <div sim-nav-bar ng-click="toggleDiv('six')" id="six" info="info.six" label="'Seasonal Information'"></div>
    <div class="accordian" ng-show="info.six">
      <p>
        When it comes to weather at the Grand Canyon, we recommend that
        you expect the unexpected! Weather conditions vary greatly at the
        Grand Canyon, so be prepared for all conditions in all seasons.
      </p>

      <p>
        For detailed weather information, visit <a href="http://www.nps.gov/grca/planyourvisit/weather-condition.htm" target="_blank">http://www.nps.gov/grca/planyourvisit/weather-condition.htm</a>
      </p>
    </div>
  </article>

  <article class="info seven">
    <div sim-nav-bar ng-click="toggleDiv('seven')" id="seven" info="info.seven" label="'More Resources'"></div>
    <div class="accordian" ng-show="info.seven">
      <h3><a href="https://www.grandcanyon.org/about-grand-canyon-association/about-grand-canyon-association" target="_blank">About the Grand Canyon Association</a></h3>
      <h3><a href="https://www.grandcanyon.org/shop/online-store" target="_blank">Grand Canyon Association Online Store</a></h3>
      <h3><a href="http://www.nps.gov/grca/planyourvisit/index.htm" target="_blank">National Park Service</a></h3>
    </div>
  </article>

</nav>

<footer>
  <section class="green">
    <div class="row">
      <div class="one column"><img class="shield" ng-src="../assets/images/footer-national_forest_service.png" alt=""></div>
      <div class="eleven columns">
        <small>
          <a href="https://www.grandcanyon.org/" target="_blank">The Grand Canyon Association</a> is the official nonprofit partner of Grand Canyon National Park. For more information about the Grand Canyon National Park, visit <a href="http://www.nps.gov/grca">http://www.nps.gov/grca</a>
        </small>
      </div>
    </div>
  </section>
  <section class="copyright">
    <small> © Copyright 2016 The Grand Canyon Association | <a href="https://www.grandcanyon.org/privacy-policy">Policies</a> | <a href="https://www.grandcanyon.org/donate">Donate</a> | <a href="https://www.grandcanyon.org/learn/grand-canyon-association-field-institute">Field Institute</a> | <a href="https://www.grandcanyon.org/contact">Contact</a></small>
  </section>
</footer>
