<header>
  <img class="logo" ng-src="../assets/images/gca-logo.jpeg" alt="Grand Canyon Association Logo">
  <div class="status">
    <p><a href="/#/register">Sign Up</a> | <a href="/#/login">Login</a></p>
  </div>
</header>

<div class="hero accordian">
  <img ng-src="http://cdn.lightgalleries.net/4bd5ec12b739d/images/Grand-Canyon-National-Park-South-Rim-AZ-13-000435_bw_vv-1.jpg" alt="Grand Canyon">
  <h1 class="title">
    Plan your trip and get the most out of your Grand Canyon visit
  </h1>
  <a href="/#/register"><button>Sign up and make a plan!</button></a>
</div>

<article ng-show="user" class="info green accordian lone">

  <h2 class="plan">{{name | capitalize:true}}'s Plan</h2>
    <div class="shareBox" ng-hide="userPlan.length === 0">
      <a ng-href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user}}&picture=http%3A%2F%2Fcdn.lightgalleries.net%2F4bd5ec12b739d%2Fimages%2FGrand-Canyon-National-Park-South-Rim-AZ-13-000435_bw_vv-1.jpg&name=My%20plan%20for%20a%20Grand%20Canyon%20visit&caption=%20&description=Check%20out%20the%20plan%20for%20my%20visit%20to%20the%20Grand%20Canyon.&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F&display=popup"><i class="fa fa-facebook-square"></i></a>
      <a ng-href="http://twitter.com/intent/tweet?text=Here%27s%20what%20I%27m%20doing%20on%20my%20trip%20to%20the%20Grand%20Canyon%3A%20https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user}}"><i class="fa fa-twitter-square"></i></a>
      <a ng-href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user}}&media=https%3A%2F%2Ftriplannr.herokuapp.com%2Fassets%2Fimages%2Fgca-logo.jpeg&description=My%20trip%20to%20the%20Grand%20Canyon%3A"><i class="fa fa-pinterest-square"></i></a>
      <a ng-href="mailto:?subject=For%20my%20visit%20to%20the%20Grand%20Canyon&body=Here%20is%20a%20link%20to%20my%20plan%3A%0D%0Ahttps%3A%2F%2Ftriplannr.herokuapp.com%2F%23%2Fplan%2F{{user}}"><i class="fa fa-envelope-square"></i></i></a>
    </div>

    <div class="activityBox">

      <div class="row" ng-repeat="start in limitStart">
        <div class="activity one-third column" ng-click="reset(); activity.open=true; $event.stopPropagation();" ng-repeat="activity in activities | myActivities: userPlan | limitTo: 3: start">
          <div class="imageBox">
            <div class="overlay"></div>
            <img ng-src={{activity.image}} alt="{{activity.title}}">
            <h5 ng-click="activity.open=!activity.open; showActivity=undefined; $event.stopPropagation();" class="subtitle">{{activity.rim}} rim</h5>
            <h4 ng-click="activity.open=!activity.open; showActivity=undefined; $event.stopPropagation();" class="title">{{activity.title}}</h4>
          </div>

          <div class="details" ng-show="activity.open || showActivity.title === activity.title" >
            <i class="fa fa-times close" ng-click="activity.open=false; showActivity=undefined; $event.stopPropagation();"></i>

            <a ng-href="{{activity.facebookShare}}"><i class="fa fa-facebook-square"></i></a>
            <a ng-href="{{activity.twitterShare}}"><i class="fa fa-twitter-square"></i></a>
            <a ng-href="{{activity.pinterestShare}}"><i class="fa fa-pinterest-square"></i></a>
            <h5>hours</h5>
            <p>
              {{activity.hours}}
            </p>
            <h5>location</h5>
            <p>
              {{activity.location}}
            </p>
            <h5>description</h5>
            <p>
              {{activity.description}}
            </p>
            <h5>good for</h5>
            <p>
              {{activity.age}}
            </p>
            <p>
              {{activity.access}}
            </p>
          </div>
        </div>
      </div>

  </div>
</article>

<div class="link gray">
  <a href="/#/">
    <button>
      See more activites at the Grand Canyon!
    </button>
  </a>
</div>

<footer>
  <section class="green">
    <div class="row">
      <div class="one column"><img class="shield" ng-src="../assets/images/footer-national_forest_service.png" alt=""></div>
      <div class="eleven columns">
        <small>
          The Grand Canyon Association is the official nonprofit partner of Grand Canyon National Park. For more information about the Grand Canyon National Park, visit http://www.nps.gov/grca
        </small>
      </div>
    </div>
  </section>
  <section class="copyright">
    <small> Copyright text goes here.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices
    sodales felis, non porta massa tincidunt ut. Sed a urna orci. Donec ac
    pharetra lectus. Mauris placerat arcu eget viverra vulputate. Mauris finibus
    tempus ligula, id pellentesque sapien luctus vitae. Integer sodales interdum
    sagittis. Vestibulum tellus neque, consectetur non ante euismod, laoreet
    rutrum urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia Curae; In ut malesuada nisi. Phasellus eu est ac nunc accumsan
    lacinia. Quisque quis facilisis enim, a dictum sem. </small>
  </section>
</footer>
