 .accordian.ng-hide {
  transition: all 1s ease-out;
  max-height: 0;
  overflow:hidden;
}

.accordian {
  transition: all 1s ease-out;
  max-height: 1000px;
  overflow:hidden;
}
//  .accordian.ng-leave {
//   transition: all 1s ease-out;
//   max-height: 0;
//   overflow:hidden;
// }
//
// .accordian.ng-enter {
//   transition: all 1s ease-in;
//   max-height: 1000px;
//   overflow:hidden;
// }

 .filter.ng-hide {
  transition: all 1s ease-out;
  max-height: 0;
  overflow:hidden;
}

.filter {
  transition: all 1s ease-in;
  max-height: 1000px;
  overflow:hidden;
}

 .more.ng-hide {
  transition: all 1s linear;
  max-height: 0;
  overflow:hidden;
}

.more {
  transition: all 1s linear;
  max-height: 1000px;
  overflow:hidden;
}

// .hero.ng-enter, .hero.ng-leave {
//   transition:all 1s linear 1s;
//    transition: all 1s ease-out 1s;
//    max-height: 0;
//    overflow:hidden;
//
// }
// .hero.ng-leave {
//  transition: all 1s ease-out 1s;
//  max-height: 0;
//  overflow:hidden;
// }
//
// .hero.ng-enter {
//   transition: all 1s ease-in;
//   max-height: 1000px;
//   overflow:hidden;
// }
.hero.ng-hide {
 transition: all 1s ease-out;
 max-height: 0;
 overflow:hidden;
}

.hero {
  transition: all 1s ease-in;
  max-height: 1000px;
  overflow:hidden;
}
