form {
  margin: 0 auto;
  text-align: center;
  // padding: 2em;
}

input {
  font-size: 20px;
  width: 300px;
  padding: 1em;
  margin: 1em auto;
  display: block;
}

textarea {
  display: block;
}

select {
  border: none;
  font-size: 18px;
  border-radius: none;
}

button {
  font-size: 20px;
  width: 300px;
  padding: 1em 0;
  margin: 1em auto;
  text-align: center;
  display: block;
  border: none;
  box-shadow: none;
}

.login {
  input {
    font-size: 14px;
    padding: .3em;
    margin-bottom: .2em;
  }
}

.choose {
  margin: 2em;
  select {
    font-size: 22px;
    font-weight: 300;
    border: none;
    color: white;
    background-color: transparent;
  }
}
