*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(darken($gray, 60%), lighten($gray, 12%)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  width: 100%;
  color: $white;
}

nav {
  h3 {
    line-height: 1.6em;
  }
}

header {
  .logo {
    height: 7vh;
  }
  padding: 2vh;
  display: block;
  width: 100%;
  background-color: white;
  color: black;
}

.hero {
  margin: 10vh 0 5vh 0;
  position: relative;
  width: 100%; /* for IE 6 */
  height: 40vh;
  overflow: hidden;
  background-color: darken($gray, 60%);
  img {
   width: 100%;
  }
  .title {
    padding-right: 30px;
    position: absolute;
    top: 10vh;
    left: 20px;
    right: 5vw;
    width: 100%;
    color: white;
  }
  button {
    background-color: $purple;
    padding: 1em;
    position: absolute;
    top: 28vh;
    left: 65vw;
    border: none;
    box-shadow: none;
    border-radius: 6px;
  }
}

article {
  padding: 20px;
}

article.plan {
  background-color: darken($gray, 50%);
}
article.about {
  background-color: darken($gray, 40%);
}
article.transport {
  background-color: darken($gray, 30%);
}
article.lodging {
  background-color: darken($gray, 20%);
}
article.seasons {
  background-color: darken($gray, 10%);
}
article.misc {
  background-color: $gray;
}

.activity {
  margin-top: 2em;
  position: relative;
  color: black;
  display: block;
  img {
    background-color: transparent;
    width: 300px;
    height: 150px;
  }
  .fa-plus{
    padding-right: 30px;
    position: absolute;
    top: 23px;
    left: 270px;
    z-index: 1;
   }
   .title {
     padding-right: 30px;
     position: absolute;
     top: 20px;
     left: 20px;
   }
   .subtitle {
     position: absolute;
     top: 5px;
     left: 20px;
   }
   .more {
     width: 300px;
     height: 100%;
     background-color: white;
     padding: 30px;
     .close{
       padding-right: 30px;
       position: absolute;
       left: 270px;
       z-index: 1;
      }
   }
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}
