*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(darken($gray, 60%), lighten($gray, 12%)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
  // h3 {
  //   line-height: 1.6em;
  // }
}

header {
  max-height: 75px;
  .logo {
    height: 50px;
    // height: 7vh;
    // min-height: 50px;
  }
  padding: 1vmax 2vmax;
  display: block;
  width: 100%;
  background-color: white;
  color: black;
}

.hero {
  position: relative;
  width: 100%; /* for IE 6 */
  height: 40vh;
  overflow: hidden;
  background-color: darken($gray, 60%);
  img {
   width: 100%;
  }
  .title {
    position: absolute;
    top: 10vh;
    left: 20px;
    color: white;
  }
  button {
    background-color: $purple;
    // padding: 1em;
    position: absolute;
    top: 28vh;
    // bottom: 1vh;
    right: 16vw;
    border: none;
    border-radius: 4px;
    // box-shadow: none;
    // border-radius: 6px;
  }
}

article {
  padding: 20px;
}

article.plan {
  background-color: darken($gray, 50%);
}
article.about {
  background-color: darken($gray, 40%);
}
article.transport {
  background-color: darken($gray, 30%);
}
article.lodging {
  background-color: darken($gray, 20%);
}
article.seasons {
  background-color: darken($gray, 10%);
}
article.misc {
  background-color: $gray;
}

.accordian {
  position: relative;
  margin: 0 auto;
  .fa-caret-right, .fa-caret-down {
    margin-left: .3em;
    font-size: 1.4em;
    color: lighten($green, 20%);
  }
}
.activityBox {
  background-color: red;
  margin: 0 auto;
  width: 100vw;
  height: auto;
  .activity {
    z-index: +1;
    margin: 1em;
    position: relative;
    color: black;
    float: left;
    // display: block;
    .imageBox {
      position: relative;
      margin: 0 auto;
      width: 300px;
      height: 150px;
      -webkit-box-shadow: inset -33px 67px 30px -13px rgba(255, 255, 255, 0.8);
      -moz-box-shadow:    inset -33px 67px 30px -13px rgba(255, 255, 255, 0.8);
      box-shadow:         inset -33px 67px 30px -13px rgba(255, 255, 255, 0.8);
      img {
        // background-color: transparent;
        position: relative;
        width: 300px;
        height: 150px;
        vertical-align: bottom;
        z-index: -2;
      }
    }
}

  .fa-plus, .delete{
    padding-right: 30px;
    position: absolute;
    top: 23px;
    left: 270px;
    z-index: 1;
   }
   .delete {
     color: brown;
    }
   .title {
     font-size: 1em;
     font-weight: bold;
     padding-right: 30px;
     position: absolute;
     top: 40px;
     left: 20px;
   }
   .subtitle {
     position: absolute;
     top: 20px;
     left: 20px;
   }
   .more {
     position: relative;
     margin: 0 auto;
     width: 300px;
     height: 100%;
     background-color: white;
     padding: 30px;
     -webkit-box-shadow: 0 -30px 30px -6px rgba(255, 255, 255, 1);
     -moz-box-shadow:    0 -30px 30px -6px rgba(255, 255, 255, 1);
     box-shadow:         0 -30px 30px -6px rgba(255, 255, 255, 1);
     .close {
       padding-right: 30px;
       position: absolute;
       left: 270px;
       z-index: 1;
      }
   }
}

footer {
  height: 150px;
  .green {
    padding: 2em;
    // height: 150px;
    .shield {
      margin: 1em;
      display: inline-block;
      float: left;
    }
    p {
      display: block;
      margin: 2em;
    }
  }
}

.auth {
  padding: 1em 0;
  text-align: center;
  a {
    color: transparentize(white, .1);
  }
  button {
    margin: .5em auto;
    width: 300px;

  }
  h3 {
    margin: 0 auto .3em auto;
    width: 300px;
  }
  input {
    width: 300px;
  }
}

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
}

.clear {
  clear: both;
}
