*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: linear-gradient(darken($gray, 60%), lighten($gray, 12%)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
  max-width: 960px;
}

nav {
  // h3 {
  //   line-height: 1.6em;
  // }
}

header {
  position: relative;
  max-height: 75px;
  .logo {
    height: 50px;
    // height: 7vh;
    // min-height: 50px;
  }
  p {
    position: absolute;
    margin-bottom: 0;
    bottom: .5vmax;
    right: 2vmax;
  }
  padding: 1vmax 2vmax;
  display: block;
  width: 100%;
  background-color: white;
  color: black;
}

.hero {
  position: relative;
  width: 100%; /* for IE 6 */
  height: 40vh;
  overflow: hidden;
  background-color: darken($gray, 60%);
  img {
   width: 100%;
  }
  .title {
    position: absolute;
    top: 8vh;
    left: 20px;
    color: white;
  }
  button {
    background-color: $purple;
    // padding: 1em;
    position: absolute;
    top: 28vh;
    // bottom: 1vh;
    right: 16vw;
    border: none;
    border-radius: 4px;
    // box-shadow: none;
    // border-radius: 6px;
  }
}

article {
  padding: 20px;
}

article.two {
  background-color: darken($gray, 50%);
}
article.three {
  background-color: darken($gray, 40%);
}
article.four {
  background-color: darken($gray, 30%);
}
article.five {
  background-color: darken($gray, 20%);
}
article.six {
  background-color: darken($gray, 10%);
}
article.seven {
  background-color: $gray;
}

.accordian {
  position: relative;
  margin: 0 auto;
  select {
    color: black;
  }
  .fa-caret-right, .fa-caret-down {
    margin-left: .3em;
    font-size: 1.4em;
    color: lighten($green, 20%);
  }
}

.activityBox {
  // background-color: red;
  margin: 0 auto;
  width: 98vw;
  max-width: 960px;
  .activity {
    margin: .5em;
    z-index: +1;
    position: relative;
    color: black;
    max-width: 300px;
    .imageBox {
      max-width: 300px;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      -webkit-box-shadow: inset -33px 67px 30px -13px rgba(255, 255, 255, 0.8);
      -moz-box-shadow:    inset -33px 67px 30px -13px rgba(255, 255, 255, 0.8);
      box-shadow:         inset -33px 67px 30px -13px rgba(255, 255, 255, 0.8);
      h4 {
        padding: 0;
      }
      h4:hover {
        color: transparentize(black, .2);
        text-shadow: 0px 0px 13px rgba(225, 225, 225, 1);
      }
      img {
        position: relative;
        vertical-align: bottom;
        z-index: -2;
      }
    }
  }

  .fa-plus, .fa-plus-circle{
    position: absolute;
    top: 23px;
    left: 85%;
    z-index: 1;
   }
   .delete {
     color: brown;
    }
   .fa-facebook-square {
     color: $facebook;
    }
   .fa-twitter-square {
     color: $twitter;
    }
   .fa-pinterest-square {
     color: $google;
    }

   .title {
     font-size: 1em;
     font-weight: bold;
     padding: 2em;
     position: absolute;
     top: 40px;
     left: 20px;
   }
   .subtitle {
     position: absolute;
     top: 20px;
     left: 20px;
   }
   .more {
     position: relative;
     margin: 0 auto;
    //  height: 100%;
     background-color: white;
     padding: 30px;
     -webkit-box-shadow: 0 -30px 30px -6px rgba(255, 255, 255, 1);
     -moz-box-shadow:    0 -30px 30px -6px rgba(255, 255, 255, 1);
     box-shadow:         0 -30px 30px -6px rgba(255, 255, 255, 1);
     .close {
       padding-right: 30px;
       position: absolute;
       left: 85%;
       z-index: 1;
      }
   }
}
footer {
  height: 150px;
  .green {
    padding: 1vmax 2vmax;
  }
}

.auth {
  padding: .5em 0;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  a {
    color: transparentize(white, .1);
  }
  button {
    margin: .5em auto;
    width: 100%;
  }
  h3 {
    margin: 0 auto .3em auto;
    // width: 300px;
  }
  input {
    width: 100%;
  }
}

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
}

.clear {
  clear: both;
}
