<h2>Add an Activity</h2>
<form action="" ng-submit="addActivity()">
<label for="title">Title</label>
<input id="title" type="text" ng-model="activity.title">
<label for="description">Description</label>
<textarea name="" id="description" cols="30" rows="10"></textarea>
<label for="age">Age</label>
<input id="age" type="text" ng-model="activity.age">
<label for="duration">Duration</label>
<input id="duration" type="text" ng-model="activity.duration">
<label for="fitness">Fitness</label>
<input id="fitness" type="text" ng-model="activity.fitness">
<label for="address">Address</label>
<input id="address" type="text" ng-model="activity.address">
<label for="access">Access</label>
<input id="access" type="text" ng-model="activity.access">
<label for="type">Type</label>
<input id="type" type="text" ng-model="activity.type">
<input type="submit" value="Add activity">
</form>
