<h2>Add an Activity</h2>
<form ng-submit="addActivity(activity)">
<label for="title">Title</label>
<input id="title" type="text" ng-model="activity.title">
<label for="description">Description</label>
<textarea name="" id="description" cols="30" rows="10" ng-model="activity.description"></textarea>
<label for="age">Age</label>
<input id="age" type="text" ng-model="activity.age">
<label for="duration">Duration</label>
<input id="duration" type="text" ng-model="activity.duration">
<label for="fitness">Fitness</label>
<input id="fitness" type="text" ng-model="activity.fitness">
<label for="location">Location</label>
<input id="location" type="text" ng-model="activity.location">
<label for="access">Access</label>
<input id="access" type="text" ng-model="activity.access">
<label for="museum">Museum</label>
<input id="museum" type="text" ng-model="activity.museum">
<label for="shopping">Shopping</label>
<input id="shopping" type="text" ng-model="activity.shopping">
<label for="cost">Cost</label>
<input id="cost" type="text" ng-model="activity.cost">
<label for="hours">Hours</label>
<input id="hours" type="text" ng-model="activity.hours">
<label for="reserve">Reserve</label>
<input id="reserve" type="text" ng-model="activity.reserve">
<label for="image">Image</label>
<input id="image" type="text" ng-model="activity.image">
<label for="rim">Rim</label>
<input id="rim" type="text" ng-model="activity.rim">
<input type="submit" value="Add activity">
</form>
