<div class="row">
  <div class="shareBox six columns">
    <a ng-href="{{activity.facebookShare}}"><i class="fa fa-facebook-square"></i></a>
    <a ng-href="{{activity.twitterShare}}"><i class="fa fa-twitter-square"></i></a>
    <a ng-href="{{activity.pinterestShare}}"><i class="fa fa-pinterest-square"></i></a>
  </div>
  <i class="fa fa-times close u-pull-right" ng-click="activity.open=false; $event.stopPropagation();"></i>
</div>

<div class="one-third column">
  <h5>hours</h5>
  <p>
    {{activity.hours}}
  </p>
  <h5>location</h5>
  <p>
    {{activity.location}}
  </p>
</div>

<div class="one-third column">
  <h5>description</h5>
  <p>
    {{activity.description}}
  </p>
  <p>
    <a href="{{activity.link}}" target="_blank">{{activity.link}}</a>
  </p>
</div>

<div class="one-third column">
  <h5>good for</h5>
  <p>
    {{activity.yes}}
  </p>
  <h5>access</h5>
  <p>
    {{activity.access}}
  </p>
  <h5 class="delete u-pull-right" ng-show="activity.inUserPlan && !planPage" ng-click="planAction({user_id: user})"><i class="fa fa-times"></i> REMOVE FROM PLAN</h5>
</div>
