<section class="green">
  <div class="row">
    <div class="one column"><img class="shield" ng-src="../assets/images/footer-national_forest_service.png" alt=""></div>
    <div class="eleven columns">
      <small>
        <a href="{{orgLink}}" target="_blank">{{organization}}</a> is the official nonprofit partner of {{park}}. For more information about {{park}}, visit <a href="{{parkLink}}">{{parkLink}}</a>
      </small>
    </div>
  </div>
</section>
<section class="copyright">
  <small> © Copyright {{year}} {{organization}} | <a href="{{nav1Link}}">{{nav1Text}}</a> | <a href="https://www.grandcanyon.org/donate">Donate</a> | <a href="https://www.grandcanyon.org/learn/grand-canyon-association-field-institute">Field Institute</a> | <a href="https://www.grandcanyon.org/contact">Contact</a></small>
</section>
